/*
Theme Name: Yolia Child Theme
Description: Creative Responsive Wordpress Theme
Version: 1.0.23
Theme URI: http://sitesao.com/yolia/
Bitbucket Theme URI: https://bitbucket.org/devshuvo/yolia-child-theme
Author: Shuvo
Template: yolia
Author URI: 
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: two-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style
*/

/*
Adding your own custom CSS rules.
*/
div.Header {
    color: #fff;
    padding: 185px 0 !important;
}

div.Header h2 {
    color: #000;
    font-weight: 600;
    font-size: 44px;
}

div.Header p {
    font-size: 24px;
}

a.learn-btn {
    background: #bbe3ec;
    padding: 6px 20px;
    font-size: 20px;
}

div.Header .row-image-bg {
    background-position: left center;
}
/*extra*/
.m0 p,.m0 h4 {
    margin-bottom: 0;
}

.footer-widget .posts-thumbnail-content h4 a {
    color: #828282;
}

.foo-services a {
    text-transform: uppercase;
}

.header-navbar-below .navbar-default.navbar-fixed-top .primary-navbar-collapse .primary-nav {
    float: right;
}

.header-navbar-below .navbar-default.navbar-fixed-top .primary-navbar-collapse {
    float: right;
}

a.contact-btn {
    background: #99c376;
    display: inline-block;
    font-size: 18px;
    padding: 6px 15px;
    border-radius: 7px;
}

a.learn-btn2 {
    background: #464646;
    display: inline-block;
    font-size: 18px;
    padding: 6px 15px;
    border-radius: 7px;
    color: #fff;
}
/*LLC*/
.llc-div {
    min-height: 220px;
    background-size: cover;
}

.row.llc-feat {
    max-width: 85%;
    margin: 0 auto;
}

.llc-feats h4 {
    color: #333;
    font-weight: bold;
    font-size: 18px;
}

.llc-feats img {
    max-width: 180px;
    margin: 20px 0;
}

.header-navbar-below .navbar-header.new {
    float: left;
    display: none;
}

.header-navbar-below .navbar-fixed-top .navbar-header.new {
    float: left;
    display: block;
}

label {
    width: 100%;
}

/*Footer Layout*/
.footer-layout {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 20px;
}

.portfolio-featured-wrap img {
    width: 410px;
    height: 380px;
}

.navbar-nav a {
    text-transform: uppercase;
}

@media(min-width:768px) {
    .llc-div {
        height: 750px
    }

    .before-after img {
        max-width: 90%;
    }
}

.menstext {
    text-transform: capitalize;
}

@media(max-width: 500px) {
    a.navbar-brand {
        max-width: 220px;
        margin-top: 18px;
    }
}

@media(max-width: 991px) and (min-width: 787px) {
    a.navbar-brand {
        margin-top: 18px;
    }
}

@media (max-width: 767px) {
    .noclick {
        pointer-events: none !important;
    }

    .portfolio-featured-wrap img {
        height: auto;
        width: 100%;
    }
}